.DS_Store
.idea

web-application-server/.gradle/8.2/checksums/checksums.lock
web-application-server/.gradle/8.2/checksums/md5-checksums.bin
web-application-server/.gradle/8.2/checksums/sha1-checksums.bin
web-application-server/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
web-application-server/.gradle/8.2/dependencies-accessors/gc.properties
web-application-server/.gradle/8.2/executionHistory/executionHistory.bin
web-application-server/.gradle/8.2/executionHistory/executionHistory.lock
web-application-server/.gradle/8.2/fileChanges/last-build.bin
web-application-server/.gradle/8.2/fileHashes/fileHashes.bin
web-application-server/.gradle/8.2/fileHashes/fileHashes.lock
web-application-server/.gradle/8.2/gc.properties
web-application-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
web-application-server/.gradle/buildOutputCleanup/cache.properties
web-application-server/.gradle/buildOutputCleanup/outputFiles.bin
web-application-server/.gradle/file-system.probe
web-application-server/.gradle/vcs-1/gc.properties
web-application-server/.gradle/8.2/fileHashes/resourceHashesCache.bin
web-application-server/build/tmp/compileTestJava/previous-compilation-data.bin
web-application-server/build/tmp/compileTestJava/compileTransaction/stash-dir/IOUtilsTest.class.uniqueId0
web-application-server/build/tmp/compileJava/previous-compilation-data.bin
web-application-server/build/tmp/compileJava/compileTransaction/stash-dir/WebServer.class.uniqueId0
web-application-server/build/tmp/compileJava/compileTransaction/stash-dir/RequestHandler.class.uniqueId1
web-application-server/build/test-results/test/TEST-util.IOUtilsTest.xml
web-application-server/build/test-results/test/binary/results.bin
web-application-server/build/test-results/test/binary/output.bin.idx
web-application-server/build/test-results/test/binary/output.bin
web-application-server/build/resources/main/logback.xml
web-application-server/build/reports/tests/test/packages/util.html
web-application-server/build/reports/tests/test/js/report.js
web-application-server/build/reports/tests/test/index.html
web-application-server/build/reports/tests/test/css/style.css
web-application-server/build/reports/tests/test/css/base-style.css
web-application-server/build/reports/tests/test/classes/util.IOUtilsTest.html
web-application-server/build/classes/java/test/util/IOUtilsTest.class
web-application-server/build/classes/java/test/util/HttpRequestUtilsTest.class
web-application-server/build/classes/java/main/webserver/WebServer.class
web-application-server/build/classes/java/main/webserver/RequestHandler.class
web-application-server/build/classes/java/main/util/IOUtils.class
web-application-server/build/classes/java/main/util/HttpRequestUtils.class
web-application-server/build/classes/java/main/util/HttpRequestUtils$Pair.class
web-application-server/build/classes/java/main/model/User.class
web-application-server/build/classes/java/main/db/DataBase.class
