
.DS_Store
web-application-server/.gradle/8.2/checksums/checksums.lock
web-application-server/.gradle/8.2/checksums/md5-checksums.bin
web-application-server/.gradle/8.2/checksums/sha1-checksums.bin
web-application-server/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
web-application-server/.gradle/8.2/dependencies-accessors/gc.properties
web-application-server/.gradle/8.2/executionHistory/executionHistory.bin
web-application-server/.gradle/8.2/executionHistory/executionHistory.lock
web-application-server/.gradle/8.2/fileChanges/last-build.bin
web-application-server/.gradle/8.2/fileHashes/fileHashes.bin
web-application-server/.gradle/8.2/fileHashes/fileHashes.lock
web-application-server/.gradle/8.2/gc.properties
web-application-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
web-application-server/.gradle/buildOutputCleanup/cache.properties
web-application-server/.gradle/buildOutputCleanup/outputFiles.bin
web-application-server/.gradle/file-system.probe
web-application-server/.gradle/vcs-1/gc.properties
